@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Avenir Next";
}

#header {
    width: 100%;
    height: 70px;
    background-color: #FF9966;

}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    background-color: #FF9966;
    height: 100px;

}

.footer_text1 {
    text-align: center;
    padding-top: 40px;
    color: white;
}

table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}

select {
    height: 30px;
}

div.precaution {
    display: inline;
    font-size: 11px;
    font-weight: bold;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;

}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
    color: white;
}

#trainee_name {
    color: #efefef;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: white;
}

h1 a {
    color: white;
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_body_part {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-size: larger;
}

table#post_num th {
    width: 26%;
    padding: 10px 2%;
}

table#post_num td {
    width: 29%;
    padding: 10px 2%;
}
#login_form {
    text-align: center;
}

.create_account_link{
    border-top: 2px dotted gray;
    margin-top: 50px;
    padding-top: 20px;
    display: inline-block;
}

.create_account {
    text-align: center;
}
